/* Estilos generales del formulario */

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* Fondo con gradiente horizontal */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(to right, #000000, #4E207C, #000000); /* Gradiente horizontal */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos generales del formulario */
.form-container {
  max-width: 500px;
  width: 90%; /* Ancho adaptable */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #4E207C; /* Fondo del formulario */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para los grupos de formulario */
.form-group {
  margin-bottom: 15px;
}

/* Estilos para las etiquetas */
label {
  display: block;
  margin-bottom: 0px;
  
  color: #ffffff; /* Texto blanco */
}

/* Estilos para los inputs y selects */
.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

/* Estilos para los botones */
.form-button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 65px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.scan-button {
  background-color: #C68FF5; /* Nuevo color */
  color: #000000; /* Texto negro */
}

.scan-button:hover {
  background-color: #A56BD6; /* Color hover */
}

.scan-button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.file-label {
  background-color: #C68FF5; /* Nuevo color */
  color: #000000; /* Texto negro */
}

.file-label:hover {
  background-color: #A56BD6; /* Color hover */
}

.submit-button {
  background-color: #C68FF5; /* Nuevo color */
  color: #000000; /* Texto negro */
}

.submit-button:hover {
  background-color: #A56BD6; /* Color hover */
}

/* Contenedor para los botones "Escanear Factura" y "Seleccionar archivo" */
.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap; /* Ajustar en pantallas pequeñas */
}

/* Contenedor para el botón "Ingresar Gasto" */
.submit-button-container {
  display: flex;
  justify-content: center;
}

/* Media queries para diseño responsive */
@media (max-width: 600px) {
  .form-container {
    padding: 15px;
  }

  .form-button {
    width: 100%; /* Botones ocupen todo el ancho en móviles */
    margin-bottom: 10px; /* Espacio entre botones */
  }

  .button-group {
    flex-direction: column; /* Botones en columna en móviles */
  }
}